#hero_img_slider {
  position: relative;
  top: 0%;
  .carousel-inner {
    max-height: 514px;
    min-height: 330px;
    .carousel-item {
      background: rgb(27, 28, 45);
      background: linear-gradient(
        328deg,
        rgba(27, 28, 45, 0.9724264705882353) 0%,
        rgba(27, 28, 45, 1) 51%
      );
      img {
        display: block;
        float: right;
        width: 80%;
        max-height: 514px;
        min-height: 330px;
        object-fit: cover;
      }
    }
    .carousel-caption {
      position: absolute;
      right: 15%;
      bottom: 27%;
      max-width: 431px;
      left: 74px;
      padding-top: 0px;
      padding-bottom: 0px;
      color: #fff;
      text-align: left;
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
      }
      h5 {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
      }
    }
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 44px;
    justify-content: flex-end;
  }

  .carousel-control-next {
    justify-content: flex-start;
  }
}

@media (max-width: 991.98px) {
  #hero_img_slider {
    .carousel-inner {
      .carousel-item {
        img {
          width: 100%;
        }
      }
      .carousel-caption {
        right: 10%;
        bottom: 25%;
        left: 54px;
      }
    }
  }
}

@media (max-width: 575.98px) {
  #hero_img_slider {
    .carousel-inner {
      .carousel-item {
        img {
          width: 100%;
          min-height: 450px;
        }
      }
    }
  }
}
