.btn-dark {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 24px;
  gap: 8px;
  background-color: $primary_color !important;
  border-radius: 10px;
  transition: 0.3s ease;
  color: #fff;
  &:hover,
  &:active {
    background-color: $primary_color;
  }
}
