@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #131420;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: #131420;
}

::-webkit-scrollbar-thumb
{
	background-color: #794dfd;
}


body {
  background: #1B1C2D;
  font-family: "Inter", sans-serif;
}

$primary_color: #794dfd;

:root{
  --bs-primary-rgb: 121, 77, 253;
  --bs-dark-rgb: 126, 126, 126;
}

.ms-74 {
  margin-left: 74px
}

@import 'components/button';
@import 'components/filter';

@import 'layout/navbar';
@import 'layout/leftmenu';
@import 'layout/slider';
@import 'layout/offerslider';
@import 'layout/filter';